body {
	font-family: 'Recursive', sans-serif;
	margin: 0;
	background: #1a1a1a;
}

#header {
	position: relative;
	width: 100%;
	text-align: center;
	background: #fbbc04;
	color: #1a1a1a;
	box-shadow: 0 2px 14px #000;
	padding: 15px 0px;
	margin: 0;
	z-index: 2;
}

h2 {
	padding: 0;
	margin: 0;
}

#menu {
	position: absolute;
	margin-left: 50%;
	color: #1a1a1a;
	cursor: pointer;
	transform: translate(-50px, 0px) rotate(0deg);
}

.rotate-menu {
	animation: rotateMenu 0.5s;
	animation-fill-mode: forwards;
}

@keyframes rotateMenu {
	from {transform: translate(-50px, 0px) rotate(0deg);}
	to{transform: translate(-50px, 0px) rotate(180deg);}
}

.rotate-menu-again {
	animation: rotateMenuAgain 0.5s;
	animation-fill-mode: forwards;
}

@keyframes rotateMenuAgain {
	from {transform: translate(-50px, 0px) rotate(180deg);}
	to{transform: translate(-50px, 0px) rotate(360deg);}
}

#nav {
	position: absolute;
	text-align: center;
	background: #fbbc04;
	width: 100%;
	max-height: 0;
	overflow: hidden;
	z-index: 1;
}

.show-nav {
	padding: 25px 0px;
	animation: showNav 0.5s;
	animation-fill-mode: forwards;
}

@keyframes showNav {
	from {padding:0px; max-height: 0;}
	to {padding: 25px 0px; max-height: 200px;}
}

.hide-nav {
	padding: 25px 0px;
	animation: hideNav 0.5s;
	animation-fill-mode: forwards;
}

@keyframes hideNav {
	from {padding:25px 0px; max-height: 200px;}
	to {padding: 0px; max-height: 0px;}
}

span {
	cursor: pointer;
}

a {
	color: #000;
	text-decoration: none;
}

#chat-interface {
	color: #808080;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 50%;
	width: 75%;
	box-shadow: 0 7px 15px #000;
	transform: translate(-50%, 0%);
}

#chat-interface, #users-header, #chat-header, #users, #chat {
	vertical-align: top;
	border-style: solid;
	border-width: 1px;
	border-color: #fbbc04;
	border-spacing: 0;
}

#users-header, #chat-header {
	padding: 15px 30px;
}

#users, #chat {
	height: 60vh;
	height: var(--cih);
	max-height: 60vh;
	max-height: var(--cih);
	overflow: auto;
}

#users-header {
	width: 35%;
}

#chat-header {
	text-align: left;
	width: 65%;
}

.messages {
	height: var(--mh);
	max-height: var(--mh);
	overflow: auto;
}

.message {
	display: inline-block;
	margin: 20px;
	margin-bottom: 0;
	margin-top: 10px;
	padding: 10px;
	max-width: 60%;
	border-radius: 7px;
	text-align: left;
	word-break: break-word;
}

#chat-footer {
	width: 100%;
	display: inline-flex;
	bottom: 0;
}

#chat-box {
	background: none;
	color: #fff;
	border-style: solid;
	border-width: 2px;
	border-color: #808080;
	border-radius: 12px;
	padding: 8px 16px;
	margin: 15px 7.5px 15px 15px;
	width: 100%;
	transition: border 0.5s;
}

#chat-box:focus {
	border-color: #fbbc04;
}

#send {
	background: #fbbc04;
	color: #1a1a1a;
	border: none;
	border-radius: 12px;
	padding: 8px 16px;
	margin: 15px 15px 15px 0px;
	cursor: pointer;
}

#send:hover {
	background: #e2a904;
}

#menu-background, #modal-background {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	background: #1a1a1a;
	opacity: 0.9;
	display: none;
}

#modal-background {
	z-index: 3;
	display: block;
}

.modal {
	position: fixed;
	text-align: center;
	background: #212121;
	width: 375px;
	border-radius: 7px;
	top: 0;
	margin-top: 50vh;
	margin-left: 50%;
	padding: 20px;
	box-shadow: 0 7px 14px #000;
	transform: translate(-50%, -50%);
	z-index: 4;
	display: none;
}

.show-modal {
	display: block;
	animation: fadeIn 0.5s, zoomOut 0.5s;
	animation-fill-mode: forwards;
}

.hide-modal {
	animation: fadeOut 0.5s, zoomIn 0.5s;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	from {opacity: 0; transform: translate(-50%, -50%);}
	to {opacity: 1; transform: translate(-50%, -50%);}
}

@keyframes zoomIn {
	from {transform: translate(-50%, -50%) scale(1);}
	to {transform: translate(-50%, -50%) scale(1.2);}
}

@keyframes fadeOut {
	from {opacity: 1; transform: translate(-50%, -50%);}
	to {opacity: 0; transform: translate(-50%, -50%);}
}

@keyframes zoomOut {
	from {transform: translate(-50%, -50%) scale(1.2);}
	to {transform: translate(-50%, -50%) scale(1);}
}

.header {
	color: #fbcc04;
	cursor: pointer;
}

.header2 {
	color: #fbcc04;
	font-weight: bold;
}

p {
	text-align: left;
	color: #808080;
	margin-bottom: 0;
}

.text-box {
	background: #1a1a1a;
	color: #fff;
	width: 100%;
	border-radius: 7px;
	border-style: solid;
	border-color: #1a1a1a;
	padding: 7px;
	transition: border 0.5s;
}

.text-box:focus {
	border-style: solid;
	border-color: #fbcc04;
}

.btn {
	background: #fbcc04;
	color: #121212;
	border-radius: 7px;
	border: none;
	padding: 10px 20px;
	font-weight: bold;
	cursor: pointer;
}

.btn:hover {
	background: #e2a904;
}

#version {
	color: #808080;width: 100%;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	cursor: auto;
}

.user {
	width: calc(100% - 40px);
	padding: 20px;
	overflow: hidden;
	cursor: pointer;
}
